<!DOCTYPE html>
<html>
<head>
  <title>Mytwitter</title>
  <script src="https://use.fontawesome.com/774b755417.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div class="row">
  <div class="col s12 m8 l9">
    <footer class="page-footer light-blue lighten-3 body main">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">LITTER APP</h5>
            <ul>
              <li class="grey-text text-lighten-4">Author: Anirudh Sharma</li>
              <li><a class="grey-text text-lighten-4" href="tel:+919928389990"><phone>+91 9928373473</phone></a></li>
            </ul>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="mailto:sharmanirudh27@gmail.com">Gmail</a></li>
              <li><a class="grey-text text-lighten-3" href="mailto:anirudhshrama.mail@gmail.com">Gmail</a></li>
              <li><a class="grey-text text-lighten-3" href="mailto:sharmanirudh27@gmail.com">Gmail</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2017 Copyright
        <a class="grey-text text-lighten-4 right" href="#">More Links</a>
        </div>
      </div>
    </footer>
  </div>
</div>

</body>
</html>
